# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
logs/
wheels/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

# PyCharm
.idea

# vscode
.vscode/
*.code-workspace

# Docs
tongsim-site
